<!DOCTYPE html><html> <head> <style>     #myCanvas {         border: 1px solid black;     } </style> <script>   var canvas, ctx;   function init() {     // This function is called after the page is loaded     // 1 - Get the canvas     canvas = document.getElementById('myCanvas');     // 2 - Get the context     ctx=canvas.getContext('2d');     // 3 - we can draw, try to change these values     ctx.translate(100, 100);     ctx.rotate(Math.PI/4);     ctx.scale(0.5, 0.5);     // Draw the monster at (0, 0)     drawShape(0, 0);     // draw a filled rectagle at (250, 0)     function drawShape(x, y)      {          ctx.save();    ctx.translate(x, y);    ctx.strokeStyle='red';    ctx.lineWidth=10;    ctx.strokeRect(0,0,200,200);    ctx.restore(); }   } </script> </head><body onload="init();">    <canvas id="myCanvas" width="400" height="400">            Your browser does not support the canvas tag.    </canvas></body></html>
